

body{
  background-color: hsl(0, 100%, 74%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: grid;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.left-side{
  width: 22rem;
}

.right-side{
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h5{
  width: 24rem;
  padding: 1rem;
  background-color: hsl(248, 32%, 49%);
  color: hsl(246, 25%, 77%);
  border-radius: .7rem;
}

.white{
  color: white;
}

.myForm{
  width: 100%;
  padding: 2rem;
  background-color: white;
  border: none;
  border-radius: .7rem;
}

.for-style{
  width: 100%;
  height: 2rem;
  border: 0.1rem solid hsl(246, 25%, 77%);
  border-radius: 0.5rem;
  text-indent: 1.5rem;
  
}


button{
  background-color: hsl(154, 59%, 51%);
  border: none;
  width: 100%;
  color: white;
  height: 2.5rem;
  border-radius: .5rem;
}

.last-text{
  color: hsl(246, 25%, 77%);
  font-size: .5rem;
}

.red{
  color: red;
}


@media (max-width: 50rem) {
  .container{
    grid-template-columns: 1fr;
    align-items: center;
  }

  .left-side{
    text-align: center;
  }

  
}

.input-control input:focus{
  outline: 0;
}

.input-control.success input{
  border-color: blue;
}

.input-control.error input{
  border-color: red;
}

.input-control .error{
  color: red;
}


.error{
  font-size: .7rem;
}

.input-control{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/* error img */

.for-style.error {
  border-color: red;
  background-image: ('./images/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
  padding-right: 30px;
}

.for-style.error:focus {
  background-image: none; 
}

.input-control{
  position: relative;
}

.input-control .image {
  position: absolute;
  top: 17%;
  bottom: 17%;
  right: .5rem;
}


.image{
  display: none;
}

